# Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast. Studying the given dataset, how does MTN Cote d'Ivoire go about the upgrade of its infrastructure strategy within the given cities?

First step is to import the necessary libraries for this analysis and specify some settings

In [175]:
import pandas as pd
import pandas as np

In [176]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

Load the necessary datasets

In [177]:
#Geodata dataset
geodata = pd.read_csv('geo.csv', sep='[;]', engine= 'python', na_values = ['NaN'])
geodata.head(5)

  Unnamed: 0   VILLES      STATUS LOCALISATION           DECOUPZONE         ZONENAME  LONGITUDE  LATITUDE     REGION AREA     CELL_ID    SITE_CODE
0         "0   ADJAME  In Service      ABIDJAN  """"""Abidjan_EST""         AGBANNEW  -4.000667  5.368194     LAGUNE  NaN  fbb2e75af3  0bb492ef17"
1         "1   ADJAME  In Service      ABIDJAN  """"""Abidjan_EST""         AGBANNEW  -4.000667  5.368194     LAGUNE  NaN  1502501d78  0bb492ef17"
2         "2   ADJAME  In Service      ABIDJAN  """"""Abidjan_EST""         AGBANNEW  -4.000667  5.368194     LAGUNE  NaN  0c2e182a0c  0bb492ef17"
3         "3  ASSINIE  In Service    INTERIEUR            Grand-EST  ""ASSINIE""""""  -3.488467  5.158761  SUD COMOE  NaN  69bdfc69fd  8a1e6ce31f"
4         "4  ASSINIE  In Service    INTERIEUR            Grand-EST  ""ASSINIE""""""  -3.488467  5.158761  SUD COMOE  NaN  7a1029d2ab  8a1e6ce31f"

In [178]:
#Dropping the unneccesary column 'unnamed:0'
geodata.drop('Unnamed: 0', inplace=True, axis=1)

In [226]:
#Checking if it has been dropped correctly
geodata.head(10)

     VILLES      STATUS LOCALISATION            DECOUPZONE          ZONENAME  LONGITUDE  LATITUDE          REGION AREA     CELL_ID      SITE_ID
0    ADJAME  In Service      ABIDJAN   """"""Abidjan_EST""          AGBANNEW  -4.000667  5.368194          LAGUNE  NaN  fbb2e75af3  0bb492ef17"
1    ADJAME  In Service      ABIDJAN   """"""Abidjan_EST""          AGBANNEW  -4.000667  5.368194          LAGUNE  NaN  1502501d78  0bb492ef17"
2    ADJAME  In Service      ABIDJAN   """"""Abidjan_EST""          AGBANNEW  -4.000667  5.368194          LAGUNE  NaN  0c2e182a0c  0bb492ef17"
3   ASSINIE  In Service    INTERIEUR             Grand-EST   ""ASSINIE""""""  -3.488467  5.158761       SUD COMOE  NaN  69bdfc69fd  8a1e6ce31f"
4   ASSINIE  In Service    INTERIEUR             Grand-EST   ""ASSINIE""""""  -3.488467  5.158761       SUD COMOE  NaN  7a1029d2ab  8a1e6ce31f"
5   ASSINIE  In Service    INTERIEUR             Grand-EST   ""ASSINIE""""""  -3.488467  5.158761       SUD COMOE  NaN  0b4f56438f  8a1e6ce31f"
6  KRIKOREA  In Service    INTERIEUR           Grand-OUEST  ""KRIKOREA""""""  -6.627056  6.707361  HAUT SASSANDRA  NaN  041d2504f5  260dbfedc5"
7     ABOBO  In Service      ABIDJAN  """"""Abidjan_NORD""            NPONON  -4.023583  5.435694          LAGUNE  NaN  a70c1d263b  56306cc7ca"
8     ABOBO  In Service      ABIDJAN  """"""Abidjan_NORD""            NPONON  -4.023583  5.435694          LAGUNE  NaN  e2d04ea883  56306cc7ca"
9     ABOBO         NaN      ABIDJAN  """"""Abidjan_NORD""            NPONON  -4.023583  5.435694          LAGUNE  NaN  ee224cd27e  56306cc7ca"

In [180]:
#Loading the first telcom dataset
telcom1 = pd.read_csv('Telcom_dataset.csv')
telcom1.head(1)

  PRODUTC  VALUE               DATETIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0            1  49fae048b547780  1a49f8b0ded9de6     19e2e     19e2e  /TJNe+Mmtu  /TJNe+Mmtu

In [181]:
#Loading the second telcom dataset
telcom2 = pd.read_csv('Telcom_dataset2.csv')
telcom2.head(1)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE      DW_A_NUMBER      DW_B_NUMBER COUNTRY_A COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0            2  32255675c3b6fe3  1aa7ae01386e9fb     19e2e     19e2e  +854AcBQT2  +854AcBQT2

In [182]:
#Loading the 3rd telcom dataset
telcom3 = pd.read_csv('Telcom_dataset3.csv')
telcom3.head(1)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0            2  966f68353622feb  ffd53a3bb2db6f1     19e2e     19e2e  +38u2u/rfx  +38u2u/rfx

# Data Cleaning and exploration

Notice that some column names in the 3 dataframes have different names. Renaming column names so that they match in all the 3 dataframes before concatinatiing them

In [183]:
telcom1.rename(columns = {'PRODUTC':'PRODUCT','DATETIME':'DATE_TIME'}, inplace = True)

In [184]:
telcom2.rename(columns = {'DW_A_NUMBER':'DW_A_NUMBER_INT','DW_B_NUMBER':'DW_B_NUMBER_INT'}, inplace = True)

In [185]:
telcom3.rename(columns = {'CELLID':'CELL_ID','SIET_ID':'SITE_ID'}, inplace = True)

In [186]:
telcom1.head(1)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0            1  49fae048b547780  1a49f8b0ded9de6     19e2e     19e2e  /TJNe+Mmtu  /TJNe+Mmtu

In [187]:
telcom2.head(1)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0            2  32255675c3b6fe3  1aa7ae01386e9fb     19e2e     19e2e  +854AcBQT2  +854AcBQT2

In [188]:
telcom3.head(1)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0            2  966f68353622feb  ffd53a3bb2db6f1     19e2e     19e2e  +38u2u/rfx  +38u2u/rfx

Concatinating the 3 dataframes to form one telcom_data dataframe

In [189]:
telcom_data = pd.concat([telcom1,telcom2,telcom3])
telcom_data

     PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0            1  49fae048b547780  1a49f8b0ded9de6     19e2e     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0            0  7a54a6eaee19e65  93343ba6e41af95     19e2e     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0            0  6008887b0207d82  7aacc9709ce0a20     19e2e     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0            1  7370032e20f4e96  6af4a60e74c91d3     19e2e     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0            1  966ba4656e38e62  02aa736ee555d5c     19e2e     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...          ...              ...              ...       ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0            3  467333ade2b4b9c  0ab2acd804d01fe     19e2e     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0            1  e077a6b74c5053c  4c8098eb6ea1a41     19e2e     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0            1  77f53c39d27c050  9d064f013e2cab2     19e2e     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0            2  672ce74c418aa7a  f9ff5af59cf0d68     19e2e     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0            2  6edeb4c55714650  7e60838216482a7     19e2e     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

Joining the geodata dataframe to the telecom dataframe. To do this I have to find the Column that has matching keys in the two dataframes

In [190]:
geodata.head(5)

    VILLES      STATUS LOCALISATION           DECOUPZONE         ZONENAME  LONGITUDE  LATITUDE     REGION AREA     CELL_ID    SITE_CODE
0   ADJAME  In Service      ABIDJAN  """"""Abidjan_EST""         AGBANNEW  -4.000667  5.368194     LAGUNE  NaN  fbb2e75af3  0bb492ef17"
1   ADJAME  In Service      ABIDJAN  """"""Abidjan_EST""         AGBANNEW  -4.000667  5.368194     LAGUNE  NaN  1502501d78  0bb492ef17"
2   ADJAME  In Service      ABIDJAN  """"""Abidjan_EST""         AGBANNEW  -4.000667  5.368194     LAGUNE  NaN  0c2e182a0c  0bb492ef17"
3  ASSINIE  In Service    INTERIEUR            Grand-EST  ""ASSINIE""""""  -3.488467  5.158761  SUD COMOE  NaN  69bdfc69fd  8a1e6ce31f"
4  ASSINIE  In Service    INTERIEUR            Grand-EST  ""ASSINIE""""""  -3.488467  5.158761  SUD COMOE  NaN  7a1029d2ab  8a1e6ce31f"

In [191]:
telcom_data.head(5)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0            1  49fae048b547780  1a49f8b0ded9de6     19e2e     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0            0  7a54a6eaee19e65  93343ba6e41af95     19e2e     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0            0  6008887b0207d82  7aacc9709ce0a20     19e2e     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0            1  7370032e20f4e96  6af4a60e74c91d3     19e2e     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0            1  966ba4656e38e62  02aa736ee555d5c     19e2e     19e2e  051KhYDCpv  051KhYDCpv

In [192]:
#Saving Cell_id column from geodata as a List
Geocelllist = geodata['CELL_ID'].tolist()

In [193]:
#Saving Cell_id column from telecom as a List

TelcomList =telcom_data['CELL_ID'].tolist()

In [194]:
#Checking if they have any matching Keys
set(Geocelllist) & set(TelcomList)

set()

Cellid has no matching keys. 
Checking for matching keys on SiteID

In [195]:
# Checking for matching keys from Site Id
Geositelist = geodata['SITE_CODE'].tolist()
TelcomList =telcom_data['SITE_ID'].tolist()

In [196]:
set(Geositelist) & set(TelcomList)

{'00197a4f5f',
 '003e59aea9',
 '012114d799',
 '012f83914a',
 '014c651f76',
 '018c57e9b9',
 '01c428bbac',
 '020a86c8a7',
 '0243d5905d',
 '0278700b25',
 '029ef38f0b',
 '02ba205929',
 '02c0070e08',
 '02db8f0ba9',
 '02ed2d8f59',
 '036dbd5fb8',
 '041d9f3af5',
 '04234ecc41',
 '043588076c',
 '0449817786',
 '04bc287a75',
 '05566b9200',
 '0658cf8aaf',
 '06623c2f1f',
 '06ab7fbc09',
 '06c4cb622d',
 '071cfaad35',
 '072f54b3a8',
 '07531b72e2',
 '080108452a',
 '0831073a8d',
 '08607e850b',
 '08b3705469',
 '098061f17e',
 '09983c438b',
 '09de0e9054',
 '0a0692c4eb',
 '0adca68fe7',
 '0b4f56438f',
 '0bde14baa9',
 '0c062a6655',
 '0c997709bd',
 '0cb148d6c5',
 '0cc7526634',
 '0d29cf42e0',
 '0dbbc8ea65',
 '0ddd10fe3c',
 '0e037c2d0c',
 '0e1869d4e8',
 '0e672e7a3d',
 '0e9ebcb77b',
 '0f2c49b7bf',
 '0f34c36ac5',
 '0fd78ac3d4',
 '1009d0bd35',
 '106b035cb6',
 '1113359465',
 '113d5b7f72',
 '116d14d6b7',
 '11e254d6b7',
 '120d0dda08',
 '12537168de',
 '12d652e58e',
 '12dea05f9d',
 '1329112141',
 '13c690c436',
 '13d76ddd5e',
 '1445989c8d',
 '15234696d7',
 '15a996f1c0',
 '16205e9f52',
 '165d822fcb',
 '1676c8e17d',
 '16a96b7884',
 '16d3b44b2d',
 '1725582875',
 '17899e217a',
 '188a276e8e',
 '191242e766',
 '1946bb6fbf',
 '1989921eb1',
 '1a0586595e',
 '1ad24d2151',
 '1ad5865876',
 '1b5540c02d',
 '1c5e6fb08e',
 '1c90b51bb4',
 '1ddea341cd',
 '1df8e27df6',
 '1e0e1030e2',
 '1e36fcb515',
 '1e751d08a4',
 '1e824a6436',
 '1ea909bdfc',
 '1ed7b897b7',
 '1ff98189c8',
 '200a092e1c',
 '201bb395b9',
 '2029a9a884',
 '20387d4292',
 '204d4d24d1',
 '2065a76cf0',
 '211015b14d',
 '22389546ec',
 '228ccfcacc',
 '22d3978f25',
 '234f474aa5',
 '2371f0c1df',
 '2386872948',
 '23cdac2f5f',
 '2443d87035',
 '244bc13af3',
 '24859804fd',
 '24c107a1cb',
 '24ccdda3d5',
 '251112666e',
 '257f6d2f42',
 '2617b99f2d',
 '26439dbbc1',
 '26c9f73a63',
 '27529179de',
 '2802d8247a',
 '2825b16be5',
 '285cd89113',
 '28bd917379',
 '294bb5a5a7',
 '2977c05628',
 '2992b0579d',
 '29f55addbe',
 '2a2c4c092d',
 '2a61d9a98c',
 '2a65115ca0',
 '2b26ffc667',
 '2c0cbe7cc1',
 '2c53fae23d',
 '2d43d99984',
 '2d58cad870',
 '2d5ab30ced',
 '2dc799193c',
 '2dd67b6a64',
 '2e1d692565',
 '2e335d2f79',
 '2e828e607c',
 '2ec4b9824b',
 '2f22c07d70',
 '2f502776ef',
 '2f999e24c2',
 '2fa7cc536b',
 '2fabeb5bb9',
 '30ab7d6e2f',
 '30cbcf789a',
 '31060da49e',
 '312bc23650',
 '312e8879d3',
 '3137f630d8',
 '316869253b',
 '322c2ac5dd',
 '3235f29a90',
 '32b8357a82',
 '32ce266c66',
 '331d88bd21',
 '334fdb9912',
 '34204b1f90',
 '348fd8506b',
 '3497b071a7',
 '35530f1375',
 '3589f4d6d2',
 '35936b24c6',
 '35cae15a08',
 '35d0e703aa',
 '36ea469a91',
 '36f665a51e',
 '3772ce7256',
 '3791a4b300',
 '379f46f4be',
 '3833a4eda8',
 '3834146596',
 '38b197ce54',
 '390877f878',
 '394dcdeac6',
 '397413d8fe',
 '397ef0c7a2',
 '399944bcff',
 '3a0c4a125f',
 '3a49e7ac0c',
 '3ab5bfd20e',
 '3ab9e5b45b',
 '3ae1708153',
 '3c480dd046',
 '3d75f8c60a',
 '3dc25e1df5',
 '3e46cdd0e8',
 '3ee452939f',
 '3ee7a51169',
 '3ef00eb70d',
 '3f037c4bcc',
 '3f47ad31b1',
 '3f627621ff',
 '3fef625ad9',
 '40bb97c420',
 '40cb5c4468',
 '40d0a8c0df',
 '40ed8194ef',
 '41142b8e18',
 '41385378e2',
 '417ef51193',
 '42072d1dc6',
 '4299ae845e',
 '42e781c9c2',
 '42f46c07ac',
 '43307ca2fe',
 '43a3260fc9',
 '43adae9a57',
 '43e67db037',
 '43ee48e4d6',
 '442f476021',
 '443ac3fc19',
 '447989361c',
 '4484d0d135',
 '448efa9c34',
 '451217d152',
 '45669f3801',
 '461e5f4a50',
 '464083a6c2',
 '46f254f80c',
 '47657c9634',
 '47dec7a96e',
 '480d936833',
 '481aaf0c3b',
 '4849c3cf05',
 '487765ff90',
 '48b7932a30',
 '48d806e8bc',
 '4906ef4504',
 '49793d0843',
 '49a8083aef',
 '4a1620defe',
 '4b32ec70f9',
 '4b55d01457',
 '4bf48c62db',
 '4c59d83a06',
 '4c8d1d3610',
 '4ca8c3cf35',
 '4d3501719c',
 '4d36343a38',
 '4d47e685f9',
 '4d67cb1e72',
 '4d75dc6615',
 '4dac8c0c56',
 '4df1cab780',
 '4e0108dd8a',
 '4e27e631ad',
 '4e5ab3e20b',
 '4e76973e5a',
 '4ed4d8b115',
 '4f7e357a30',
 '4f81d93bc5',
 '4f92d7f120',
 '4ff1173a77',
 '50141ace80',
 '505e321af5',
 '5083443d36',
 '50d116f73d',
 '51d21d438f',
 '51dc20d30e',
 '51dcba5778',
 '520b0637ca',
 '521d2ac7b9',
 '5255819549',
 '52688ee7aa',
 '52a35862b4',
 '530e8cef09',
 '5324bc6c24',
 '533d8c5a35',
 '5392d01ab4',
 '54057f8680',
 '541c234a2f',
 '54572c6050',
 '547385b9d5',
 '54b866dd5d',
 '54be031036',
 '54f07edad2',
 '5509fd0dbc',
 '553ec95a14',
 '5562d66a49',
 '5585d0657c',
 '558dceb97c',
 '55d6d9039c',
 '561ec50ab5',
 '56306cc7ca',
 '5639bea67f',
 '56a9c46591',
 '56c70baa97',
 '56dfa8c5b0',
 '56f4902f89',
 '57081faa8e',
 '5803e0c49a',
 '5818d7383c',
 '585a3bc66c',
 '58657f2784',
 '5890cb1c62',
 '58b84c2039',
 '58c9a7d6e4',
 '59a53648cd',
 '59a6c7452d',
 '5ac6821ef4',
 '5ada252efc',
 '5b72385c27',
 '5bd7fea63c',
 '5c565fbfb1',
 '5c901ca57a',
 '5c9e84e82b',
 '5d02861fce',
 '5d4c1957a9',
 '5d5461a9c5',
 '5d5b23bfed',
 '5d885a2b8d',
 '5da87949e2',
 '5dd66b7579',
 '5e26728fd3',
 '5e6d655129',
 '5e990e277d',
 '5eaa6bcb4b',
 '5eb0d24f19',
 '5eda0143d2',
 '5f6100dbe1',
 '6049499424',
 '6155327e50',
 '61bee9c70c',
 '62618367e3',
 '62a0065954',
 '62c4972796',
 '63192d48dc',
 '63c810f02d',
 '640427c4c9',
 '6417ea7f8d',
 '644d9f790b',
 '64ea988424',
 '651c6d67d4',
 '6560f866a3',
 '65758d2aae',
 '658b5d99bf',
 '65a987fa51',
 '65efe2bc62',
 '660b5ea9ad',
 '66ec15048f',
 '683bde9e16',
 '686b7e541c',
 '694c55a591',
 '6954a418ce',
 '6978fd6d15',
 '69bdfc69fd',
 '69ce94e634',
 '69d4450ac9',
 '6a0882c490',
 '6b40b27c8c',
 '6bb6835299',
 '6bc58d8be0',
 '6cad985585',
 '6cdf1d4b52',
 '6d70dae094',
 '6d945d687d',
 '6dc7dc51de',
 '6e10745cb4',
 '6e87d6cb59',
 '6e9b544976',
 '6e9d0c4534',
 '6edaac0f1e',
 '700e13a5cf',
 '70131988aa',
 '7096ef2a77',
 '70a0c412b9',
 '70a989da87',
 '70b4f9a53b',
 '70cb7af111',
 '725002bc43',
 '7254d0a3da',
 '72cc7c6bb8',
 '733b1c7315',
 '7351fb1692',
 '73974f7f81',
 '739e843470',
 '73c47c6862',
 '73dd78713b',
 '73e790ba16',
 '73e8bc6622',
 '7430461f18',
 '74501a16e3',
 '74988548bb',
 '75b42191fb',
 '75bef3291a',
 '76595a1e95',
 '7753ddd136',
 '780c0d5bd7',
 '78a34ee534',
 '78d279198d',
 '792159c521',
 '79505e1209',
 '7957b0fb82',
 '7b94535e4b',
 '7bb5edf329',
 '7c7a7a71b5',
 '7c96b03d1a',
 '7c996a37fc',
 '7cf88b45ab',
 '7de24de80d',
 '7e0f36f733',
 '7e32ebf3e1',
 '7e3dc3e601',
 '7e46936864',
 '7e5282bffc',
 '7e87e2e48c',
 '7eb7d0d434',
 '7ec8f9bb0e',
 '7ed219f2f7',
 '7ee1a1444f',
 '7f388ade8b',
 '7f666f45ad',
 '7f76d66503',
 '7fa72a1ee3',
 '7fb7bcf559',
 '804ac957a8',
 '804e60019a',
 '80a463c1f7',
 '80b41425ab',
 '8117043112',
 '814bb932c8',
 '814d6c8277',
 '817fc53cb6',
 '81f4c462f7',
 '82bacbe728',
 '835492a205',
 '8369b435a1',
 '83a405ef9c',
 '8483c47df6',
 '848bd41589',
 '84da272d13',
 '84e3e7f10d',
 '84eb207483',
 '84f03c9f11',
 '84fa910497',
 '854b64b46a',
 '85575dcb9a',
 '85a1fff77f',
 '85e4a7d74c',
 '86a16450ae',
 '86de36700e',
 '86e2fbb623',
 '871fc91dad',
 '8778410c81',
 '87978692ba',
 '87e3a7f64c',
 '88bb1bbeb9',
 '89bc85c1b5',
 '8a96bae9c1',
 '8ab136750b',
 '8ae14499cc',
 '8b43fe1f7f',
 '8b915fb650',
 '8bd8bc8653',
 '8c4e6c0b83',
 '8c920c7a50',
 '8ca32d9508',
 '8cb14f902e',
 '8cc89f3fa9',
 '8cdff2a0a2',
 '8ded8a17b9',
 '8e22e94b4e',
 '8e2c25b6b2',
 '8e4ab2abb3',
 '8e6413d5b8',
 '8ec7e3257c',
 '8ef66f718c',
 '8fccce7c15',
 '8fd5c0eb86',
 '8fd6f8d1c5',
 '9005575c3e',
 '90660365c4',
 '90cdea1177',
 '9159d9844c',
 '91c5101302',
 '91e6228e6f',
 '91e86be9a6',
 '91ef65a206',
 '91f2d18511',
 '923403b9ed',
 '92406df21a',
 '92635447aa',
 '928a59b635',
 '92d827bd96',
 '9300822fd4',
 '933092eef8',
 '9330e2c1d1',
 '93655499af',
 '93b5ea6676',
 '9411ac7df8',
 '946534f389',
 '947b96a9ae',
 '952ba02486',
 '95b4afcbc7',
 '964f27ce54',
 '969b8d0e39',
 '969c39ae2d',
 '97254f2537',
 '97296d8119',
 '9783dc7284',
 '97adeae74c',
 '9869791cee',
 '98c81a2a92',
 '9959ddc39c',
 '995eea2683',
 '998c4ac9ff',
 '99adb97923',
 '9a5a78aa32',
 '9b32fd2011',
 '9ba706bc3c',
 '9bb4b27356',
 '9bd6022e07',
 '9bd64a932f',
 '9c25d19a84',
 '9c62a77c47',
 '9c6e07f63b',
 '9cc77873ac',
 '9df77077cc',
 '9e940e38af',
 '9e9f6abb01',
 '9ec23b88b7',
 '9ef618fd3f',
 '9ef9616350',
 '9f7fae7064',
 '9f9bb90c1f',
 '9fd440bab4',
 '9fea17896f',
 'a058068007',
 'a07e8af2b4',
 'a184731aac',
 'a26abe7e67',
 'a2f0769f63',
 'a314c5ec32',
 'a38efdcc21',
 'a3e2328ac3',
 'a3ea26a4a8',
 'a3efd45afb',
 'a4b775249b',
 'a55150a8e7',
 'a55860869e',
 'a614b9dc3a',
 'a64fc672f1',
 'a651659032',
 'a65daaf5d3',
 'a827f048f4',
 'a8d8462dda',
 'a8ed302b06',
 'a9248f6060',
 'a98f73d8fa',
 'a9a91087bc',
 'aa2d7103fc',
 'aa42aca73b',
 'aa4edfa221',
 'aa59cc7ced',
 'aae215a28a',
 'ab26b62256',
 'ab2ac46b67',
 'ab91f5b21d',
 'ac3b6998ac',
 'ad520e6077',
 'ad67d8727e',
 'ad84d6f9fe',
 'ae4ba240c4',
 'ae556c031a',
 'ae6cdb80c1',
 'ae6f1d7150',
 'ae8fce9c24',
 'aeed65e7ce',
 'af1da2bca6',
 'af34115792',
 'af5a5167d4',
 'affe00c828',
 'b00aef3193',
 'b017b3e347',
 'b044cf9fce',
 'b07f9bb851',
 'b0d7a9946f',
 'b19fd73af1',
 'b1be54f62d',
 'b1e5de270c',
 'b23d0cd21d',
 'b31b14d48a',
 'b346792101',
 'b4130b54ab',
 'b47a998a3e',
 'b47f3c1756',
 'b4ddb9e93c',
 'b4e77d440c',
 'b4f32fad03',
 'b569923906',
 'b5a2e42048',
 'b5a37bf516',
 'b5bd954080',
 'b5c786e566',
 'b6f121a80c',
 'b75ffebb1c',
 'b7a160c985',
 'b7aa3c28bb',
 'b7d00e59e4',
 'b7f8585aaa',
 'b855b773cf',
 'b8d2c54e65',
 'b95f55689e',
 'b9af583eac',
 'ba8ce6e4ef',
 'ba9debd0e7',
 'bb10e04c53',
 'bb2ef80188',
 'bb35216b83',
 'bb93aaa23b',
 'bbb43b8364',
 'bbc1b71a78',
 'bc58a52936',
 'bc6bc54edb',
 'bc6c0ddf34',
 'bcb0672194',
 'bd13e1597d',
 'bd57311ec7',
 'bdd8718fff',
 'bdeafe55f0',
 'be954bdb76',
 'bea164ff9b',
 'bee752ed00',
 'bf59db19bf',
 'bfed0deee9',
 'c06620882a',
 'c07a544c63',
 'c0918a6630',
 'c14c2a780d',
 'c15166ba4d',
 'c17552bc2e',
 'c1841d1dc0',
 'c1ccd3443b',
 'c1d42f5f3f',
 'c1ec9c885f',
 'c2545171dc',
 'c2583dcc54',
 'c2a21f4ec1',
 'c4d337c538',
 'c52b02bd6e',
 'c537983cd8',
 'c550c9e238',
 'c57c621515',
 'c57de6fa4a',
 'c58809bff2',
 'c58b18f1d1',
 'c5bfec81fa',
 'c6210d7615',
 'c6400e443f',
 'c644d1ce4c',
 'c6bd18d180',
 'c7ea989264',
 'c7f65a4fc4',
 'c852cfeffb',
 'c996f2949a',
 'c99c8fb224',
 'c9cb7e8be0',
 'c9d8e4cdf1',
 'c9fd8326b5',
 'cb7aa97d53',
 'cc442b47d9',
 'cc45940406',
 'cc45c41e85',
 'cc566b4b38',
 'cc8dcf793b',
 'cd3c089a41',
 'cd9b89c1b6',
 'cdabae1039',
 'cdf82e4fe3',
 'ce007c20e1',
 'ce1d1c2d2e',
 'ce4fd4068e',
 'ce6d4382f6',
 'ce8b8917ec',
 'cef29910fb',
 'cef3f76edc',
 'cf2d02ac98',
 'cf4e87af01',
 'cf58de22e1',
 'd06f40f9d5',
 'd0cd72cac5',
 'd100db0842',
 'd1251e1704',
 'd1544758ec',
 'd1809b909f',
 'd236ec6ca8',
 'd241572ac4',
 'd29252461f',
 'd2d326bd73',
 'd2de5847b1',
 'd35cc445b8',
 'd3762a2606',
 'd39eb0de3b',
 'd46985c381',
 'd4b46cdec7',
 'd4f3a31163',
 'd519a3f223',
 'd52bb03161',
 'd5a8ad3811',
 'd6080378b9',
 'd610bae720',
 'd67f60c154',
 'd68260ef50',
 'd72a3acaba',
 'd7a531cfa8',
 'd7f6e56e1c',
 'd822658d4f',
 'd8682c35fc',
 'd93346cdaa',
 'd96dcd5475',
 'd97af85bcd',
 'd982ba5017',
 'd9e9cffced',
 'da007e6463',
 'da6fc99bf5',
 'daa1671776',
 'dab5197225',
 'dab9a2e6e1',
 'dac8af8efb',
 'dac8dcaeb9',
 'db11cc9f85',
 'dbd9dfd695',
 'dc22dff37a',
 'dc93f8c316',
 'dd2629738c',
 'dd4e5b07d5',
 'dd656c150a',
 'de2a8cf96f',
 'de3cfcbcac',
 'de62d7cd6d',
 'de663fd26b',
 'de8b939a5e',
 'dea1e52d3b',
 'dedaa552e2',
 'dfaf4fb561',
 'e023b355a1',
 'e04667f9c7',
 'e0cf6b8069',
 'e1498e9654',
 'e1629ca4b7',
 'e188165ebc',
 'e1a3687210',
 'e1d7179107',
 'e201d86276',
 'e252847e66',
 'e26f7500ad',
 'e293f755da',
 'e2aa625530',
 'e2b604cffa',
 'e311aaa6fc',
 'e3d153c158',
 'e42de17efb',
 'e47ea5e90b',
 'e4cda74d25',
 'e4d5180258',
 'e5029cc30f',
 'e516cb8121',
 'e81e20f821',
 'e82c07d996',
 'e88478a1f0',
 'e8c387b612',
 'e8d208067b',
 'e8f72b6ab5',
 'e942f32a29',
 'e9639876a8',
 'e9a201c011',
 'ea07812c27',
 'ea5a2bf3ba',
 'ea78593acf',
 'ea868b8a04',
 'eaa695cbb8',
 'eaad357293',
 'ead9f3d03f',
 'eb87ea1f8e',
 'ebfc58af70',
 'ec013a6f3b',
 'ec2f249b2b',
 'ec36e9bdac',
 'ec486bc445',
 'ec8f7e53ab',
 'ed05b53185',
 'ed2333b820',
 'ede54b207b',
 'ee25f2aeaf',
 'ee63d0afe1',
 'ee6d1fe083',
 'eeca22cecc',
 'eee4879695',
 'eefd93f0b4',
 'ef3841e458',
 'ef51d8b174',
 'f018a8651b',
 'f03cd9b101',
 'f05aaade20',
 'f0787a83bd',
 'f078b9eea8',
 'f0ea7dce6a',
 'f11e961893',
 'f13e136c2f',
 'f143bec3ce',
 'f15bd5483f',
 'f1904e1d58',
 'f191951c20',
 'f1b5238f83',
 'f2174e039e',
 'f222e7c57c',
 'f24a0f63fa',
 'f24e034833',
 'f2571198ac',
 'f27ed073f0',
 'f2aebe2872',
 'f2b17896c2',
 'f307018a36',
 'f3a6b6efd1',
 'f3c2363885',
 'f437c087d8',
 'f463ed0955',
 'f47392b314',
 'f48350b75f',
 'f51a821c6c',
 'f56286a418',
 'f5cfe0ed01',
 'f62d96c190',
 'f6ae0e2972',
 'f72cd95f00',
 'f73e7aca85',
 'f787526209',
 'f7d63a29e5',
 'f7e0fc8508',
 'f7f56b7293',
 'f850b9aa56',
 'f8bec61d7f',
 'f8c04693e1',
 'f91ed8d2e9',
 'f92c9c81f9',
 'f939f3349c',
 'f9b7a55579',
 'f9e0877100',
 'f9eadcdba2',
 'fa19128d92',
 'faa92c87d9',
 'fb35d6b5d3',
 'fb480113cd',
 'fc6419d378',
 'fc7602b020',
 'fd14c3c790',
 'fd2703d1cb',
 'fe31a370fe',
 'fe32f3eba7',
 'fe3ebd031a',
 'fe91ac057a',
 'fe9fcfbf99',
 'feb5ccbbd7',
 'feffc8c92b',
 'ff1b78ec81',
 'ffa6bdc032',
 'ffc9f56819',
 'fff5ac6e3f'}

There exists matching keys on site id. We will use this to merge the geodata dataframe to the Telcom dataframe

In [197]:
#Renaming Site code to site id
geodata.rename(columns = {'SITE_CODE':'SITE_ID'}, inplace = True)

In [198]:
#Merging the two dataframes using Site ID
mtn_df= pd.merge(geodata, telcom_data, on='SITE_ID', how='inner')

In [199]:
mtn_df

         VILLES      STATUS LOCALISATION    DECOUPZONE               ZONENAME  LONGITUDE  LATITUDE    REGION           AREA   CELL_ID_x     SITE_ID PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B   CELL_ID_y
0         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500    LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0  2012-05-07 00:00:16.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
1         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500    LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0  2012-05-07 00:00:20.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
2         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500    LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0  2012-05-07 00:00:20.0            0  46e0133c87a440d  93343ba6e41af95     19e2e     19e2e  e12d87c801
3         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500    LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0  2012-05-07 00:00:22.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
4         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500    LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5   Voice     14  2012-05-07 00:00:37.0            1  c0412262cb1a9bb  831f75896bac1dc     19e2e     19e2e  10ae6c0752
...         ...         ...          ...           ...                    ...        ...       ...       ...            ...         ...         ...     ...    ...                    ...          ...              ...              ...       ...       ...         ...
51100  ZUENOULA  In Service    INTERIEUR    Grand-NORD    ZONE A - Grand-NORD  -6.065450  7.444592  MARAHOUE   CENTRE NORTH  f9f3e42589  61bee9c70c   Voice     90  2012-05-08 00:01:21.0            1  16b18134457df0c  741ce69ff5ae71f     19e2e     19e2e  c92be6915d
51101  ZUENOULA  In Service    INTERIEUR    Grand-NORD    ZONE A - Grand-NORD  -6.065450  7.444592  MARAHOUE   CENTRE NORTH  f9f3e42589  61bee9c70c   Voice      0  2012-05-09 00:00:12.0            1  799cfb18cce4f9b  28af748b735567c     19e2e     19e2e  c92be6915d
51102  ZUENOULA  In Service    INTERIEUR    Grand-NORD    ZONE A - Grand-NORD  -6.065450  7.444592  MARAHOUE   CENTRE NORTH  f9f3e42589  61bee9c70c     sms      0  2012-05-09 00:00:24.0            1  e4c44576789349d  65eca43003c502a     19e2e     19e2e  c92be6915d
51103  ZUENOULA  In Service    INTERIEUR    Grand-NORD    ZONE A - Grand-NORD  -6.065450  7.444592  MARAHOUE   CENTRE NORTH  f9f3e42589  61bee9c70c   Voice     34  2012-05-09 00:01:00.0            1  80b550ee361afad  21f9e5a5e35d2f0     19e2e     19e2e  c92be6915d
51104  ZUENOULA  In Service    INTERIEUR    Grand-NORD    ZONE A - Grand-NORD  -6.065450  7.444592  MARAHOUE   CENTRE NORTH  f9f3e42589  61bee9c70c     sms      0  2012-05-09 00:01:37.0            1  05fb44a35341a8f  cbc45d65009f36c     19e2e     19e2e  c92be6915d

[51105 rows x 20 columns]

# Data Cleaning

In [200]:
#Checking for duplicates
mtn_df[mtn_df.duplicated()]

          VILLES      STATUS LOCALISATION    DECOUPZONE               ZONENAME  LONGITUDE  LATITUDE         REGION           AREA   CELL_ID_x     SITE_ID PRODUCT  VALUE              DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B   CELL_ID_y
17         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500         LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0  2012-05-07 00:01:29.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
56         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500         LAGUNE  ABIDJAN NORTH  959e54c8f7  0f34c36ac5     sms      0  2012-05-07 00:01:29.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
95         ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500         LAGUNE  ABIDJAN NORTH  56b7e7000c  0f34c36ac5     sms      0  2012-05-07 00:01:29.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
134        ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500         LAGUNE  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5     sms      0  2012-05-07 00:01:29.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
173        ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139  5.433500         LAGUNE  ABIDJAN NORTH  e460975c9f  0f34c36ac5     sms      0  2012-05-07 00:01:29.0            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801
...          ...         ...          ...           ...                    ...        ...       ...            ...            ...         ...         ...     ...    ...                    ...          ...              ...              ...       ...       ...         ...
50826  SAN-PEDRO  In Service    INTERIEUR     SUD-OUEST     ZONE E - SUD-OUEST  -6.665528  4.766167  BAS SASSANDRA     SOUTH WEST  4df12fefc8  5d5b23bfed     sms      0  2012-05-09 00:00:55.0            0  c542f54d66e7f54  5f128b162cf35a9     19e2e     19e2e  485ef0de75
50858  SAN-PEDRO  In Service    INTERIEUR     SUD-OUEST     ZONE E - SUD-OUEST  -6.665528  4.766167  BAS SASSANDRA     SOUTH WEST  181a669a32  5d5b23bfed     sms      0  2012-05-09 00:00:43.0            0  c542f54d66e7f54  5f128b162cf35a9     19e2e     19e2e  485ef0de75
50864  SAN-PEDRO  In Service    INTERIEUR     SUD-OUEST     ZONE E - SUD-OUEST  -6.665528  4.766167  BAS SASSANDRA     SOUTH WEST  181a669a32  5d5b23bfed     sms      0  2012-05-09 00:00:55.0            0  c542f54d66e7f54  5f128b162cf35a9     19e2e     19e2e  485ef0de75
50896  SAN-PEDRO  In Service    INTERIEUR     SUD-OUEST     ZONE E - SUD-OUEST  -6.665528  4.766167  BAS SASSANDRA     SOUTH WEST  d32f225c10  5d5b23bfed     sms      0  2012-05-09 00:00:43.0            0  c542f54d66e7f54  5f128b162cf35a9     19e2e     19e2e  485ef0de75
50902  SAN-PEDRO  In Service    INTERIEUR     SUD-OUEST     ZONE E - SUD-OUEST  -6.665528  4.766167  BAS SASSANDRA     SOUTH WEST  d32f225c10  5d5b23bfed     sms      0  2012-05-09 00:00:55.0            0  c542f54d66e7f54  5f128b162cf35a9     19e2e     19e2e  485ef0de75

[1659 rows x 20 columns]

In [201]:
#Dropping the duplicates
mtn_df = mtn_df.drop_duplicates()

In [202]:
#Making sure they are dropped
mtn_df[mtn_df.duplicated()]

Empty DataFrame
Columns: [VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID_x, SITE_ID, PRODUCT, VALUE, DATE_TIME, CELL_ON_SITE, DW_A_NUMBER_INT, DW_B_NUMBER_INT, COUNTRY_A, COUNTRY_B, CELL_ID_y]
Index: []

In [203]:
#checking for null Values
mtn_df[mtn_df.isnull()].any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
51100    False
51101    False
51102    False
51103    False
51104    False
Length: 49446, dtype: bool

In [204]:
#Dropping Null Values
mtn_df = mtn_df.dropna(how='any')

In [205]:
#checking that null values have been dropped
mtn_df[mtn_df.isnull()].any(axis = 1)

0        False
1        False
2        False
3        False
4        False
         ...
51100    False
51101    False
51102    False
51103    False
51104    False
Length: 48787, dtype: bool

In [206]:
#Checking for information on the data such as datatype
mtn_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48787 entries, 0 to 51104
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   VILLES           48787 non-null  object
 1   STATUS           48787 non-null  object
 2   LOCALISATION     48787 non-null  object
 3   DECOUPZONE       48787 non-null  object
 4   ZONENAME         48787 non-null  object
 5   LONGITUDE        48787 non-null  float64
 6   LATITUDE         48787 non-null  float64
 7   REGION           48787 non-null  object
 8   AREA             48787 non-null  object
 9   CELL_ID_x        48787 non-null  object
 10  SITE_ID          48787 non-null  object
 11  PRODUCT          48787 non-null  object
 12  VALUE            48787 non-null  int64
 13  DATE_TIME        48787 non-null  object
 14  CELL_ON_SITE     48787 non-null  object
 15  DW_A_NUMBER_INT  48787 non-null  object
 16  DW_B_NUMBER_INT  48787 non-null  object
 17  COUNTRY_A        48787 non-null  object
 18  COUNTRY_B        48787 non-null  object
 19  CELL_ID_y        48787 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 7.8+ MB

In [207]:
#Date time column is saved as a string. Converting it to DATETIME below:
mtn_df['DATE_TIME'] = pd.to_datetime(mtn_df['DATE_TIME'])

In [208]:
mtn_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48787 entries, 0 to 51104
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   VILLES           48787 non-null  object
 1   STATUS           48787 non-null  object
 2   LOCALISATION     48787 non-null  object
 3   DECOUPZONE       48787 non-null  object
 4   ZONENAME         48787 non-null  object
 5   LONGITUDE        48787 non-null  float64
 6   LATITUDE         48787 non-null  float64
 7   REGION           48787 non-null  object
 8   AREA             48787 non-null  object
 9   CELL_ID_x        48787 non-null  object
 10  SITE_ID          48787 non-null  object
 11  PRODUCT          48787 non-null  object
 12  VALUE            48787 non-null  int64
 13  DATE_TIME        48787 non-null  datetime64[ns]
 14  CELL_ON_SITE     48787 non-null  object
 15  DW_A_NUMBER_INT  48787 non-null  object
 16  DW_B_NUMBER_INT  48787 non-null  object
 17  COUNTRY_A        48787 non-null  object
 18  COUNTRY_B        48787 non-null  object
 19  CELL_ID_y        48787 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 7.8+ MB

In [209]:
#Dropping Country Columns since its the same country
mtn_df = mtn_df.drop(['COUNTRY_A','COUNTRY_B'], axis = 1)

In [210]:
mtn_df.head(2)

  VILLES      STATUS LOCALISATION    DECOUPZONE               ZONENAME  LONGITUDE  LATITUDE  REGION           AREA   CELL_ID_x     SITE_ID PRODUCT  VALUE           DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT   CELL_ID_y
0  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:16            0  800d4fda045bd41  0707dfa952e0fcb  e12d87c801
1  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:20            0  800d4fda045bd41  0707dfa952e0fcb  e12d87c801

# Data Exploration/Analysis

In [211]:
mtn_df.shape

(48787, 18)

In [212]:
#Getting some useful statistics about the string objects in the data
mtn_df.describe(include = 'object')

          VILLES      STATUS LOCALISATION     DECOUPZONE                ZONENAME  REGION           AREA   CELL_ID_x     SITE_ID PRODUCT CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT   CELL_ID_y
count      48787       48787        48787          48787                   48787   48787          48787       48787       48787   48787        48787            48787            48787       48787
unique       398           1            2             11                      24      19              6        3356         862       2            8             7490             6773        2132
top     YOPOUGON  In Service      ABIDJAN  Abidjan_OUEST  ZONE C - Abidjan_OUEST  LAGUNE  ABIDJAN NORTH  9e8e5e6e80  7f76d66503     sms            1  8ab8b9ed6989f61  93343ba6e41af95  03ee801971
freq        8258       48787        30442          10160                   10121   31953          23498         110         660   28131        14404              420             2650         438

In [213]:
#Getting some useful statistics about numerical objects in the data
mtn_df.describe()

          LONGITUDE      LATITUDE         VALUE
count  48787.000000  48787.000000  48787.000000
mean      -4.639825      5.881344     28.034107
std        1.049921      1.013820    109.016992
min       -8.408611      4.420083      0.000000
25%       -5.259056      5.328322      0.000000
50%       -4.059194      5.373222      0.000000
75%       -4.002361      6.128722     25.000000
max       -2.570222     10.441319   6750.000000

In [214]:
#Creating a column Day name to find the days where MTN Infrastructure is used the most
mtn_df['Day_name'] = mtn_df['DATE_TIME'].dt.day_name()

In [215]:
#Creating a column Hour to find the hours when mtn Infrastucture is used the most
mtn_df['Hour'] = mtn_df['DATE_TIME'].dt.hour

In [216]:
mtn_df.head(10)

  VILLES      STATUS LOCALISATION    DECOUPZONE               ZONENAME  LONGITUDE  LATITUDE  REGION           AREA   CELL_ID_x     SITE_ID PRODUCT  VALUE           DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT   CELL_ID_y Day_name  Hour
0  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:16            0  800d4fda045bd41  0707dfa952e0fcb  e12d87c801   Monday     0
1  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:20            0  800d4fda045bd41  0707dfa952e0fcb  e12d87c801   Monday     0
2  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:20            0  46e0133c87a440d  93343ba6e41af95  e12d87c801   Monday     0
3  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:22            0  800d4fda045bd41  0707dfa952e0fcb  e12d87c801   Monday     0
4  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5   Voice     14 2012-05-07 00:00:37            1  c0412262cb1a9bb  831f75896bac1dc  10ae6c0752   Monday     0
5  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:39            1  346ff7bbd592cb8  aaaf0e4bdec7311  10ae6c0752   Monday     0
6  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5   Voice      0 2012-05-07 00:00:40            1  cf7428866a2b235  1a49f8b0ded9de6  10ae6c0752   Monday     0
7  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:41            0  800d4fda045bd41  0707dfa952e0fcb  e12d87c801   Monday     0
8  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:46            2  c8c4da781ff02ab  7bdf4a063fccfae  6579e27c11   Monday     0
9  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:46            0  800d4fda045bd41  0707dfa952e0fcb  e12d87c801   Monday     0

In [217]:
mtn_df['Day_name'].value_counts()

Wednesday    17540
Monday       15726
Tuesday      15521
Name: Day_name, dtype: int64

From the data, Most users use MTN Services on Wednesday. If they are to upgrade their infrastructure, Wednesday would not be ideal since alot of people are using it. A day like Tuesday that isnt as busy would be a better day.

Which were the most used cities in the three days?

In [218]:
mtn_df['VILLES'].value_counts()

YOPOUGON              8258
ABOBO                 5934
COCODY                3704
ADJAME                2387
KOUMASSI              2275
MARCORY               2087
YAMOUSSOUKRO          2076
TREICHVILLE           2026
DALOA                 1747
ATTECOUBE             1623
PORT-BOUET            1383
SAN-PEDRO             1291
BOUAKE                1242
DIVO                   837
GAGNOA                 648
SOUBRE                 537
MAN                    489
DABOU                  414
SEGUELA                357
KORHOGO                340
DUEKOUE                330
BINGERVILLE            318
SIKENSI                300
LAKOTA                 282
AGBOVILLE              273
BOUAFLE                234
ISSIA                  228
GRAND-BASSAM           225
PLATEAU                213
ANYAMA                 213
ODIENNE                183
ABENGOUROU             180
DAOUKRO                180
TOUMODI                179
FERKE                  174
DIMBOKRO               154
ADZOPE                 150
VAVOUA                 150
BONDOUKOU              138
MEADJI                 136
ZUENOULA               126
AGNIBILEKRO            102
SINFRA                  99
ABOISSO                 90
GUIGLO                  87
MINIGNAN                84
TIEBISSOU               78
BONOUA                  75
FRONAN                  72
OUME                    72
DIANRA                  66
FADYADOUGOU             54
DIEGONEFLA              51
SONGON                  48
TIASSALE                48
MARANDALA               48
GRAND LAHOU             45
HIRE                    45
DANANE                  45
MBATTO                  39
OUNADIEKAHA             39
ZIKISSO                 36
OUPOYO                  36
DAGADJI                 33
KANI                    33
KOMBORODOUGOU           33
TOUBA                   33
ALEPE                   30
AKRADJO                 30
GUEZON                  30
DABAKALA                30
BOUNA                   30
TAABO                   30
N'DOUCI                 27
KARAKORO                27
KONI                    27
DANGUIRA                27
DOROPO                  27
GOHITAFLA               27
BAZRA NATTIS            27
DJI                     24
ANDO                    24
SEGUELON                24
KONG                    24
NAPIE                   24
SONONZO                 24
BOCANDA                 24
TAFIRE                  24
KONONFLA                21
JACQUEVILLE             21
GABIADJI                21
DABOUYO                 21
TABOU                   21
ELLIBOU                 21
BOUNDIALI               21
AKOUPE                  21
KANAKONO                21
MANKONO                 21
GNAGBODOUGNOA           21
SONDO                   21
SIANA                   21
NOUVELLEOUSROU          21
PINHOU KOULOUAN         21
OUANINOU                21
KANOROBA                21
BONON                   18
GADOUAN                 18
ABOISSO COMOE           18
BANGOLO                 18
ABOUDEKOUASSIKRO        18
BONOUFLA                18
ADIAKE                  18
DIARABANA               18
ZAIBO                   18
BANANKORO               18
SIRASSO                 18
KOUIBLY                 18
LAOGUIE                 18
BONIEREDOUGOU           18
TAI                     18
BOUADOUGOU              18
BLESSEGUE               18
GUIBEROUA               18
ZAGNE                   18
RAVIART                 18
LATAHA                  18
ASSINIE                 18
AZAGUIE                 18
BOLI                    18
SAKAHOUO                16
DIANRAVILLAGE           15
ZADDI                   15
SASSANDRA               15
FACOBLY                 15
LUENOUFLA               15
NEKA                    15
KONEDOUGOU              15
PETIT YAPO              15
SAFCO                   15
MARABADIASSA            15
DIDIEVI                 15
BEOUMI                  15
TIEME                   15
NAMASSI                 15
ILESBOULEY              15
SANDEGUE                15
DOTENZIA                15
ANANDA                  15
OURAGAHIO               15
FRESCO                  15
BOZI                    15
MEMNI                   14
NZIANOUA                12
TAHOGORA                12
SIFIE                   12
NOE                     12
LOGBOVILLE              12
ANDOKOKRENOU            12
KOKOUMBO                12
BECEDIBRIGNAN           12
SAMANGO                 12
SEYDOUGOU               12
GLIGBEUADJI             12
SAIOUA                  12
ADJAMENE                12
BANADJE                 12
MAMA                    12
FOUMBOLO                12
MORONOU                 12
TANDI                   12
ARRAH                   12
TOUPAH                  12
KOLIA                   12
MASSALA                 12
BETTIE                  12
BROBO                   12
ZOUKOUGBEU              12
FLAKIE                   9
GOULIA                   9
BLE                      9
GUEYO                    9
WOROFLA                  9
TIENKO                   9
SATIKRAN                 9
KOUASSIDATEKRO           9
SIPILOU                  9
DIANOUFLA                9
N'GATTAKRO               9
KOUASSIKOUASSIKRO        9
TABAGNE                  9
NIAKARA                  9
KRINJABO                 9
AYAME                    9
DIARAKRO                 9
TANDA                    9
GUESSIGUIE               9
DOUGROUPALEGNOA          9
DJEBONOUA                9
ADDAH                    9
CHIEPO                   9
ASSIKOI                  9
KPAPEKOU                 9
ADAOU                    9
YAOSEDOUGOU              9
AYAPRIKRO                9
SOKORODOUGOU             9
NAFALA                   9
WENDENE                  9
GBELEBAN                 9
GUEZON TAHOUAKE          9
MORONDO                  9
BANDAKANY                9
POGO                     9
YABAYO                   9
BEDIALA                  9
PARA                     9
LAHOUDIBA                9
DIVO PALMCI              9
GBAGBAM                  9
AOUNIANFOUTOU            9
KASSERE                  9
TORTYA                   9
ZON-HOUNIEN              9
RAPIDES GRAH             9
KOSSOU                   9
DAIRO/DIDIZO             9
ZAMBAKRO                 9
MAYO                     9
ATTROBROU                9
SAGO                     9
SIEMPURGO                9
DIDOKO                   9
SARHALA                  9
TIEMA                    9
GUINTEGUELA              9
KOSSANDJI                9
TOUMODISAKASSOU          9
N'ZIKRO                  9
GBAPLEU                  9
HEREMANKONO              9
KETEKRE                  9
SEMIEN                   9
BORON                    9
BAYOTA                   6
POPREAGUI                6
N'DEBO                   6
PRIKRO                   6
BOUGOU                   6
OTTAWA                   6
OUATTARADOUGOU           6
BONIKRO                  6
BOGUEDIA                 6
OUALEBO                  6
GNAMONO                  6
KOUEGO                   6
YAOU                     6
BUYO                     6
KAHANSO                  6
IBOKE                    6
BACANDA                  6
ATTINGUIE                6
GUEHIEBLY                6
MBORLA                   6
MADINANI                 6
BONGO                    6
PODIAGOUINE              6
AKOUYAKRO                6
TIMBE                    6
TOULEUPLEU               6
BAHOMPA                  6
GROBIASSOUME             6
GBONNE                   6
TOROGUHE                 6
KOONAN                   6
SIENSOBA                 6
KONAHIRI                 6
MBENGUE                  6
NANIEFONGO               6
DAHIRI                   6
NASSIAN                  6
BODO                     6
LOVIGUE                  6
IBOGUHE                  6
KONTROU                  6
NOUKPOUDOU               6
DAGOUAHIO                6
NIAMBEZARIA              6
BOUADIKRO                6
AKOBOISSUE               6
DIKODOUGOU               6
TIEMELEKRO               6
SANGOUINE                6
BLAHOU                   6
YAKASSEME                6
GRAND-ZATRY              6
NIANGBO                  6
MOAPE                    6
N'ZECREZESSOU            6
LAFOKPOKAHA              6
TOUIH                    6
BLIDOUBA                 6
BIANKOUMA                6
YAKASSEFEYASSE           6
LARABIA                  6
TALA                     6
GUESSABO                 6
PINHOU                   6
HERMANKONONO/DIES        6
FEREDOUGOU               6
COLLINEKASSEREGUE        6
ZAALA                    6
ALERIA                   6
MOUSSAYO                 6
TENGRELA                 6
GONATE                   6
OUELLE                   6
EBIKRO                   6
BROU AKPASSOU            4
SERHIO                   3
MANZANOUAN               3
NGATTADOLIKRO            3
SAHUE                    3
BAMORO                   3
KOFFI AMONKRO            3
TORO-KINKENE             3
TAOUDI                   3
DJASSANOU                3
ZAROKO                   3
BROFODOUME               3
SANANFEREDOUGOU          3
LAMADOUGOU               3
PETIONARA                3
YOUWASSO                 3
GOMENEBERI               3
TAHIRAGUHE               3
DJENIDOUFLA              3
CECHI                    3
TINDENE BAMBARASSO       3
ZATTA                    3
DIEOUZON                 3
SAPLI                    3
OKROUYO                  3
BROFFOUEDOU              3
BONGOUANOU               3
LOGOUALE                 3
ALLOKOI                  3
BOROTOUKRO               3
SINEMATIALI              3
TOUVRE                   3
BIELOU-CARREFOUR         3
YAKASSE-ATTOBROU         3
DAKPADOU                 3
GNIPI                    3
BALEKO                   3
SAMO                     3
MBONOUA                  3
BLANFLA                  3
BAOUBLI                  3
SOROBANGO                3
AGOU                     3
ATTIGUEHI                3
PONANGUIGLO              3
KANZRA                   3
ANIANSUE                 3
SAMATIGUILA              3
KODIOSSOU                3
GRAND BEREBY             3
BIN HOUNIEN              3
TIAPOUM                  3
KOTOUBA                  3
KLOTOU                   3
BOTRO                    3
BANDIAHI                 3
MOUSSADOUGOU             3
LUEHOUAN                 3
TRANSUA                  3
KONGASSO                 3
TIENDEKRO                3
NIDROU                   3
MONTCOUPE                3
DJOUKOUYO                3
DOKE                     3
PAKAOUBO                 3
VROUHO                   3
AHOUANOU                 3
DIABO                    3
NGUINOU                  3
NIABABLY                 3
KOBEDAIGOURE             3
RUBINO                   3
BINAO                    3
AGONDA                   3
MAHAPLEU                 3
SONGON DAGBE             3
DEDI                     3
ABONGOUA                 3
KOTOULA                  2
DANANON                  2
Name: VILLES, dtype: int64

YOPOUGON, Abobo and Cocody are the top 3 cities where alot of people use the MTN Services. These should be of Priority.

In [155]:
#Creating a column that will specify whether an MTN Service was used during home hours or Work hours. 
#Assumption : Work hours is from 8am to 5pm and home hours is the rest of the day.
mtn_df['Hour_desc'] = mtn_df['Hour'].apply(lambda x: 'Work Hours' if x >= 8 and x <=17 else 'Home Hours')

In [156]:
mtn_df.head(5)

  VILLES      STATUS LOCALISATION    DECOUPZONE               ZONENAME  LONGITUDE  LATITUDE  REGION           AREA   CELL_ID_x     SITE_ID PRODUCT  VALUE           DATE_TIME CELL_ON_SITE  DW_A_NUMBER_INT  DW_B_NUMBER_INT COUNTRY_A COUNTRY_B   CELL_ID_y Day_name  Hour   Hour_desc
0  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:16            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801   Monday     0  Home Hours
1  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:20            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801   Monday     0  Home Hours
2  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:20            0  46e0133c87a440d  93343ba6e41af95     19e2e     19e2e  e12d87c801   Monday     0  Home Hours
3  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5     sms      0 2012-05-07 00:00:22            0  800d4fda045bd41  0707dfa952e0fcb     19e2e     19e2e  e12d87c801   Monday     0  Home Hours
4  ABOBO  In Service      ABIDJAN  Abidjan_NORD  ZONE E - Abidjan_NORD  -4.014139    5.4335  LAGUNE  ABIDJAN NORTH  f740406877  0f34c36ac5   Voice     14 2012-05-07 00:00:37            1  c0412262cb1a9bb  831f75896bac1dc     19e2e     19e2e  10ae6c0752   Monday     0  Home Hours

In [158]:
mtn_df['Hour_desc'].unique()

array(['Home Hours'], dtype=object)

In [159]:
mtn_df['Hour'].unique()

array([0])

It seems that the dataset only has data about Home hours. We would require data for between 8am to 5pm to be able to accurately determine the times when MTN Services are mostly used. This data is missing.

In [162]:
#Determining the service mostly used in the dataset
mtn_df['PRODUCT'].value_counts()

sms      28131
Voice    20656
Name: PRODUCT, dtype: int64

Most people were using SMS To communicate. Further analysis and data is required to know why this is the case. Are the voice services too expensive? Are they unreliable and hence urgently require infrastructure repair?Lets find out the average billing Price for each

In [165]:
mtn_df.groupby('PRODUCT')['VALUE'].mean()

PRODUCT
Voice    55.412423
sms       7.930788
Name: VALUE, dtype: float64

Voice Services are way more expensive on average than SMS Services. This somewhat explains why SMS is the more used service

Finding out which cities generates alot of billing capital for MTN and which cities they are struggling to generate sufficient returns. The ones with insufficient returns probably require infrastructure improvements.

In [219]:
mtn_df.groupby('VILLES')['VALUE'].sum()

VILLES
ABENGOUROU              8583
ABOBO                 119236
ABOISSO                 1650
ABOISSO COMOE            795
ABONGOUA                   3
ABOUDEKOUASSIKRO          99
ADAOU                   1335
ADDAH                    654
ADIAKE                   543
ADJAME                 56577
ADJAMENE                 404
ADZOPE                  3939
AGBOVILLE               2526
AGNIBILEKRO             3198
AGONDA                     0
AGOU                       0
AHOUANOU                  60
AKOBOISSUE                30
AKOUPE                   393
AKOUYAKRO                  3
AKRADJO                  222
ALEPE                    261
ALERIA                   168
ALLOKOI                    0
ANANDA                   492
ANDO                    1209
ANDOKOKRENOU             453
ANIANSUE                 522
ANYAMA                  6918
AOUNIANFOUTOU            168
ARRAH                   1278
ASSIKOI                  144
ASSINIE                 7680
ATTECOUBE              18999
ATTIGUEHI                 81
ATTINGUIE                942
ATTROBROU               1806
AYAME                    645
AYAPRIKRO                225
AZAGUIE                 1464
BACANDA                 1323
BAHOMPA                    6
BALEKO                     0
BAMORO                   348
BANADJE                  336
BANANKORO                 99
BANDAKANY                495
BANDIAHI                 138
BANGOLO                  309
BAOUBLI                  243
BAYOTA                   330
BAZRA NATTIS             981
BECEDIBRIGNAN            216
BEDIALA                  738
BEOUMI                   255
BETTIE                     0
BIANKOUMA                 63
BIELOU-CARREFOUR         267
BIN HOUNIEN              180
BINAO                      0
BINGERVILLE            10770
BLAHOU                   156
BLANFLA                  141
BLE                      207
BLESSEGUE                183
BLIDOUBA                  90
BOCANDA                  627
BODO                     597
BOGUEDIA                 303
BOLI                     357
BONDOUKOU               6504
BONGO                    600
BONGOUANOU               156
BONIEREDOUGOU            639
BONIKRO                   66
BONON                    243
BONOUA                  1230
BONOUFLA                 384
BORON                    300
BOROTOUKRO                96
BOTRO                      0
BOUADIKRO                  6
BOUADOUGOU               723
BOUAFLE                 6192
BOUAKE                 33039
BOUGOU                   402
BOUNA                   1005
BOUNDIALI                120
BOZI                     525
BROBO                    753
BROFFOUEDOU              123
BROFODOUME                 0
BROU AKPASSOU            272
BUYO                     480
CECHI                    192
CHIEPO                   573
COCODY                177745
COLLINEKASSEREGUE        150
DABAKALA                1008
DABOU                   3036
DABOUYO                  300
DAGADJI                  321
DAGOUAHIO                  0
DAHIRI                   540
DAIRO/DIDIZO             177
DAKPADOU                 120
DALOA                  34704
DANANE                  3564
DANANON                  118
DANGUIRA                 198
DAOUKRO                19854
DEDI                     117
DIABO                      0
DIANOUFLA                 36
DIANRA                  2376
DIANRAVILLAGE            471
DIARABANA                735
DIARAKRO                  84
DIDIEVI                  255
DIDOKO                   114
DIEGONEFLA               516
DIEOUZON                   0
DIKODOUGOU              1239
DIMBOKRO                4324
DIVO                   22455
DIVO PALMCI              210
DJASSANOU                 15
DJEBONOUA                144
DJENIDOUFLA                0
DJI                     2919
DJOUKOUYO                180
DOKE                       0
DOROPO                   858
DOTENZIA                1299
DOUGROUPALEGNOA            0
DUEKOUE                 8103
EBIKRO                     0
ELLIBOU                  156
FACOBLY                 1014
FADYADOUGOU              462
FEREDOUGOU                 0
FERKE                   6456
FLAKIE                   159
FOUMBOLO                 453
FRESCO                   600
FRONAN                  2154
GABIADJI                1194
GADOUAN                  375
GAGNOA                 23714
GBAGBAM                    0
GBAPLEU                  132
GBELEBAN                 462
GBONNE                    84
GLIGBEUADJI              981
GNAGBODOUGNOA            396
GNAMONO                  336
GNIPI                    225
GOHITAFLA                933
GOMENEBERI               720
GONATE                  1746
GOULIA                    78
GRAND BEREBY               0
GRAND LAHOU             1584
GRAND-BASSAM           15444
GRAND-ZATRY              120
GROBIASSOUME              36
GUEHIEBLY                150
GUESSABO                 534
GUESSIGUIE               300
GUEYO                    639
GUEZON                  2217
GUEZON TAHOUAKE            0
GUIBEROUA                558
GUIGLO                  5508
GUINTEGUELA              183
HEREMANKONO               75
HERMANKONONO/DIES          0
HIRE                    1524
IBOGUHE                 1368
IBOKE                    564
ILESBOULEY               762
ISSIA                   5568
JACQUEVILLE              723
KAHANSO                  378
KANAKONO                1539
KANI                     225
KANOROBA                 705
KANZRA                   285
KARAKORO                 279
KASSERE                  303
KETEKRE                  258
KLOTOU                    90
KOBEDAIGOURE              36
KODIOSSOU                330
KOFFI AMONKRO             30
KOKOUMBO                 321
KOLIA                    588
KOMBORODOUGOU            597
KONAHIRI                 147
KONEDOUGOU               372
KONG                     939
KONGASSO                   0
KONI                     669
KONONFLA                 867
KONTROU                  270
KOONAN                   180
KORHOGO                 5105
KOSSANDJI                219
KOSSOU                   336
KOTOUBA                   48
KOTOULA                    0
KOUASSIDATEKRO            57
KOUASSIKOUASSIKRO        243
KOUEGO                    42
KOUIBLY                  468
KOUMASSI               71356
KPAPEKOU                 123
KRINJABO                 144
LAFOKPOKAHA               39
LAHOUDIBA                282
LAKOTA                  4227
LAMADOUGOU               252
LAOGUIE                  615
LARABIA                   78
LATAHA                   624
LOGBOVILLE                 3
LOGOUALE                 840
LOVIGUE                 1011
LUEHOUAN                  27
LUENOUFLA                954
MADINANI                 210
MAHAPLEU                   0
MAMA                     411
MAN                     8697
MANKONO                 1707
MANZANOUAN                 0
MARABADIASSA             129
MARANDALA               1152
MARCORY                59913
MASSALA                  342
MAYO                     129
MBATTO                   788
MBENGUE                  156
MBONOUA                  150
MBORLA                   198
MEADJI                  2940
MEMNI                    120
MINIGNAN                 108
MOAPE                    135
MONTCOUPE                 33
MORONDO                  126
MORONOU                   24
MOUSSADOUGOU              66
MOUSSAYO                  78
N'DEBO                   174
N'DOUCI                  795
N'GATTAKRO                24
N'ZECREZESSOU             99
N'ZIKRO                  177
NAFALA                   537
NAMASSI                  126
NANIEFONGO                27
NAPIE                    678
NASSIAN                  891
NEKA                    1188
NGATTADOLIKRO              0
NGUINOU                   90
NIABABLY                1620
NIAKARA                  468
NIAMBEZARIA             1260
NIANGBO                  408
NIDROU                   360
NOE                      246
NOUKPOUDOU               576
NOUVELLEOUSROU          3402
NZIANOUA                 264
ODIENNE                 8949
OKROUYO                    0
OTTAWA                   468
OUALEBO                 1434
OUANINOU                 570
OUATTARADOUGOU             3
OUELLE                     0
OUME                    2826
OUNADIEKAHA             3693
OUPOYO                   828
OURAGAHIO                942
PAKAOUBO                   0
PARA                      75
PETIONARA                 21
PETIT YAPO               204
PINHOU                   366
PINHOU KOULOUAN         1443
PLATEAU                 9728
PODIAGOUINE              144
POGO                     477
PONANGUIGLO                0
POPREAGUI                 66
PORT-BOUET             34788
PRIKRO                   234
RAPIDES GRAH               0
RAVIART                   93
RUBINO                     0
SAFCO                    243
SAGO                      39
SAHUE                      0
SAIOUA                   174
SAKAHOUO                 544
SAMANGO                  183
SAMATIGUILA                6
SAMO                       0
SAN-PEDRO              44137
SANANFEREDOUGOU            0
SANDEGUE                 471
SANGOUINE                252
SAPLI                      0
SARHALA                  486
SASSANDRA                675
SATIKRAN                  72
SEGUELA                 9024
SEGUELON                 270
SEMIEN                   627
SERHIO                     0
SEYDOUGOU                510
SIANA                    114
SIEMPURGO                 42
SIENSOBA                   0
SIFIE                    792
SIKENSI                 3066
SINEMATIALI                0
SINFRA                   978
SIPILOU                 7287
SIRASSO                  615
SOKORODOUGOU             681
SONDO                   1296
SONGON                     0
SONGON DAGBE              12
SONONZO                 1698
SOROBANGO                168
SOUBRE                  7736
TAABO                   1821
TABAGNE                  468
TABOU                    438
TAFIRE                   312
TAHIRAGUHE                 0
TAHOGORA                  45
TAI                      129
TALA                     234
TANDA                    537
TANDI                    216
TAOUDI                     0
TENGRELA                 231
TIAPOUM                    0
TIASSALE                1983
TIEBISSOU               1185
TIEMA                      0
TIEME                    573
TIEMELEKRO                 0
TIENDEKRO                540
TIENKO                  1767
TIMBE                     75
TINDENE BAMBARASSO       171
TORO-KINKENE               0
TOROGUHE                 816
TORTYA                   270
TOUBA                   1221
TOUIH                    270
TOULEUPLEU               774
TOUMODI                 4265
TOUMODISAKASSOU          150
TOUPAH                    36
TOUVRE                   498
TRANSUA                  153
TREICHVILLE            65557
VAVOUA                  3105
VROUHO                     3
WENDENE                    0
WOROFLA                  231
YABAYO                   210
YAKASSE-ATTOBROU          99
YAKASSEFEYASSE           447
YAKASSEME                270
YAMOUSSOUKRO           45090
YAOSEDOUGOU                0
YAOU                     174
YOPOUGON              198556
YOUWASSO                   0
ZAALA                    117
ZADDI                      3
ZAGNE                    846
ZAIBO                    588
ZAMBAKRO                3126
ZAROKO                    75
ZATTA                      3
ZIKISSO                  968
ZON-HOUNIEN              363
ZOUKOUGBEU               714
ZUENOULA                3846
Name: VALUE, dtype: int64

Some cities bring as low as 0 returns in terms of billing. This might be areas MTN can concentrate on improving infrastructure on.

Lets find any correlations in the data if any

In [222]:
mtn_df['VILLES']=mtn_df['VILLES'].astype('category').cat.codes

In [224]:
mtn_df.corr()

             VILLES  LONGITUDE  LATITUDE     VALUE  Hour
VILLES     1.000000  -0.128532 -0.019179 -0.000108   NaN
LONGITUDE -0.128532   1.000000 -0.554221 -0.000331   NaN
LATITUDE  -0.019179  -0.554221  1.000000  0.006569   NaN
VALUE     -0.000108  -0.000331  0.006569  1.000000   NaN
Hour            NaN        NaN       NaN       NaN   NaN

There doesn't seem to be any clear correlation between Cities and the billing amount.